%h1 Listing products

.raw
  %ul.list-unstyled
    - @products.each do |product|
      %li.col-md-3
        %h2= link_to product.name, product
        %p
          =link_to product do
            =image_tag product.image, hight: 200, width: 200
        %p
          = link_to 'Edit', edit_product_path(product)
          |
          = link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }
.raw
  %p
    = link_to 'New Product', new_product_path, class: "btn btn-primary"
